.btn-group {
  z-index: 9999999 !important;
}
.dropdown-menu.show {

  min-width: 13rem;

  .drop-rtl.show {
    z-index: 999999999999 !important;
  }

  a {
    cursor: pointer;
  }

  .before {

  }

  .beforeBody {

  }

  .before .beforeBody tr:hover {
    background: #d6ddea;
    transition-duration: .05s;
    border-radius: 0.2rem;
  }
}
