<div class="form-group row mb-4">
    <label class="col-form-label col-lg-2">Task Description</label>
    <div class="col-lg-10">
        <ckeditor [editor]="Editor" data="<p>Content of the editor.</p>"></ckeditor>
    </div>
</div>


















<div class="container-fluid">

    <!-- start page title -->
    <app-page-title title="ADD User Type TO TEST" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">Basic Information</h4>
                    <p class="card-title-desc">Fill all information below</p>

                    <form [formGroup]="questionForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="englishTitle">English Title</label>
                                    <input id="englishTitle" formControlName="englishTitle" name="englishTitle"
                                        type="text" class="form-control">
                                    <small
                                        *ngIf="f.englishTitle.touched &&f.englishTitle.invalid && f.englishTitle.errors.required"
                                        class="text-danger">
                                        This Field is Required
                                    </small>

                                </div>
                                <div class="form-group">
                                    <label for="englishDescription">English Description</label>
                                    <textarea id="englishDescription" formControlName="englishDescription"
                                        name="englishDescription" type="text" rows="5" class="form-control"></textarea>
                                    <small
                                        *ngIf="f.englishDescription.touched  &&f.englishDescription.invalid && f.englishDescription.errors.required"
                                        class="text-danger">
                                        This Field is Required
                                    </small>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="arabicTitle">arabic Title</label>
                                    <input id="arabicTitle" formControlName="arabicTitle" name="arabicTitle" type="text"
                                        class="form-control">
                                    <small
                                        *ngIf="f.arabicTitle.touched &&f.arabicTitle.invalid && f.arabicTitle.errors.required"
                                        class="text-danger">
                                        This Field is Required
                                    </small>

                                </div>
                                <div class="form-group">
                                    <label for="arabicDescription">Arabic Description</label>
                                    <textarea class="form-control" formControlName="arabicDescription"
                                        id="arabicDescription" rows="5"></textarea>
                                    <small
                                        *ngIf="f.arabicDescription.touched  &&f.arabicDescription.invalid &&f.arabicDescription.errors.required"
                                        class="text-danger">
                                        This Field is Required
                                    </small>
                                </div>
                            </div>
                        </div>
                        <!--            <button type="button" class="btn btn-primary" id="sa-success" (click)="successmsg()">Click me</button>-->

                        <button type="submit" (click)=" addQuestion()" [disabled]="questionForm.invalid"
                            class="btn btn-primary mr-1">Save Changes</button>
                        <button type="submit" class="btn btn-secondary" (click)="cancel()">Cancel</button>
                    </form>
                </div>
            </div>
            <!--      start table data-->

            <!-- Table data -->


            <!--      End table data-->

        </div>
    </div>
    <!-- end row -->

</div> <!-- container-fluid -->