
#footer {
  position: absolute;
  bottom: 50px;
  height: 40px;
  margin-top: 40px;
}

#footer .made-by {
  align-content: center;
  text-align: center;
  color: #FFFFFF;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal
}

