<!--<form [formGroup]="formG">-->
<!--  <input-->
<!--    *ngIf="changeInput"-->
<!--    (focus)="changeInputToTextArea()"-->
<!--    class="form-control form-control-lg"-->
<!--    type="text"-->
<!--    formControlName="content"-->
<!--    id="question-body"-->
<!--    placeholder="Question Body"-->
<!--  />-->

<!--  <quill-editor-->
<!--    #qEditor-->
<!--    formControlName="content"-->
<!--    (onEditorCreated)="setFocus($event)"-->
<!--    *ngIf="!changeInput"-->
<!--    (onBlur)="changeInputToInput()"-->
<!--    placeholder="Question Body"-->
<!--  >-->
<!--  </quill-editor>-->
<!--</form>-->

<!--<div [ngClass]="{ 'mt-5': !changeInput }"></div>-->

<!--&lt;!&ndash;"{{ 'question.questionBody' | translate }}"&ndash;&gt;-->
